フローADC.txt
[
    {
        "id": "6c9eefab6d41a31e",
        "type": "tab",
        "label": "ADC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7463dc90cd4e2f10",
        "type": "exec",
        "z": "6c9eefab6d41a31e",
        "command": "",
        "addpay": "payload",
        "append": " ",
        "useSpawn": "false",
        "timer": "60",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "062a9323520d1ca0",
                "82167ed129637753"
            ],
            [],
            []
        ]
    },
    {
        "id": "13d3ab04ffb120f3",
        "type": "inject",
        "z": "6c9eefab6d41a31e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "adcbd6d0a24e48d6"
            ]
        ]
    },
    {
        "id": "ba61f42863bf1d69",
        "type": "template",
        "z": "6c9eefab6d41a31e",
        "name": "MCP3002_read_ch0_once.py",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "python3 /home/{{user}}/{{folder}}/MCP3002_read_ch0_once.py",
        "output": "str",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "7463dc90cd4e2f10"
            ]
        ]
    },
    {
        "id": "27f2145e93ca3dd6",
        "type": "change",
        "z": "6c9eefab6d41a31e",
        "name": "sensorHAT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "folder",
                "pt": "msg",
                "to": "sensorHAT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "ba61f42863bf1d69"
            ]
        ]
    },
    {
        "id": "da93c3d912d36e3b",
        "type": "comment",
        "z": "6c9eefab6d41a31e",
        "name": "folder",
        "info": "",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "1ee521b2976fc250",
        "type": "comment",
        "z": "6c9eefab6d41a31e",
        "name": "user",
        "info": "",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "adcbd6d0a24e48d6",
        "type": "change",
        "z": "6c9eefab6d41a31e",
        "name": "pi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "pi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "27f2145e93ca3dd6"
            ]
        ]
    },
    {
        "id": "11d243087763788e",
        "type": "exec",
        "z": "6c9eefab6d41a31e",
        "command": "",
        "addpay": "payload",
        "append": " ",
        "useSpawn": "false",
        "timer": "20",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 440,
        "wires": [
            [
                "062a9323520d1ca0",
                "b6545c1b748d200b"
            ],
            [],
            []
        ]
    },
    {
        "id": "07f2d886eb5997ae",
        "type": "template",
        "z": "6c9eefab6d41a31e",
        "name": "MCP3002_read_ch1_once.py",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "python3 /home/{{user}}/{{folder}}/MCP3002_read_ch1_once.py",
        "output": "str",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "11d243087763788e"
            ]
        ]
    },
    {
        "id": "6df5c3154d003028",
        "type": "inject",
        "z": "6c9eefab6d41a31e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "1b33a1cb7a2b3409"
            ]
        ]
    },
    {
        "id": "80f6b3edac17aa03",
        "type": "change",
        "z": "6c9eefab6d41a31e",
        "name": "sensorHAT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "folder",
                "pt": "msg",
                "to": "sensorHAT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "07f2d886eb5997ae"
            ]
        ]
    },
    {
        "id": "15f7f96d7b35f72c",
        "type": "comment",
        "z": "6c9eefab6d41a31e",
        "name": "folder",
        "info": "",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "3dfb1cb32dbcd4b9",
        "type": "comment",
        "z": "6c9eefab6d41a31e",
        "name": "user",
        "info": "",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b33a1cb7a2b3409",
        "type": "change",
        "z": "6c9eefab6d41a31e",
        "name": "pi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "user",
                "pt": "msg",
                "to": "pi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "80f6b3edac17aa03"
            ]
        ]
    },
    {
        "id": "062a9323520d1ca0",
        "type": "debug",
        "z": "6c9eefab6d41a31e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "82167ed129637753",
        "type": "ui_gauge",
        "z": "6c9eefab6d41a31e",
        "name": "",
        "group": "20d5ca7b2093199d",
        "order": 12,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC ch0",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "700",
        "className": "",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "b6545c1b748d200b",
        "type": "ui_gauge",
        "z": "6c9eefab6d41a31e",
        "name": "",
        "group": "20d5ca7b2093199d",
        "order": 13,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC ch1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "700",
        "className": "",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "20d5ca7b2093199d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "1f166b88fc9fae4f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "1f166b88fc9fae4f",
        "type": "ui_tab",
        "name": "ADC",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]