フロー2LED+2SW-03.txt
[{"id":"c1fbfd2b.c61d1","type":"tab","label":"LED+SW-03","disabled":false,"info":""},{"id":"f11cb89c.6519f8","type":"rpi-gpio in","z":"c1fbfd2b.c61d1","name":"","pin":"31","intype":"tri","debounce":"25","read":false,"x":190,"y":580,"wires":[["fc73c3a3.e172e"]]},{"id":"a956e333.ba26b","type":"rpi-gpio out","z":"c1fbfd2b.c61d1","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":900,"y":180,"wires":[]},{"id":"7a5b2644.a84898","type":"inject","z":"c1fbfd2b.c61d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":690,"y":160,"wires":[["a956e333.ba26b"]]},{"id":"b7759cc9.38eaa","type":"inject","z":"c1fbfd2b.c61d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":690,"y":200,"wires":[["a956e333.ba26b"]]},{"id":"376283f5.615cfc","type":"ui_button","z":"c1fbfd2b.c61d1","name":"","group":"a757053b.5f7438","order":2,"width":3,"height":1,"passthru":false,"label":"1-LED off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":200,"y":160,"wires":[["43900ec.6dde2f"]]},{"id":"93296e26.e938c","type":"ui_button","z":"c1fbfd2b.c61d1","name":"","group":"a757053b.5f7438","order":1,"width":3,"height":1,"passthru":false,"label":"1-LED on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":200,"y":200,"wires":[["43900ec.6dde2f"]]},{"id":"beb44836.413b78","type":"ui_switch","z":"c1fbfd2b.c61d1","name":"","label":"switch-1","tooltip":"","group":"a757053b.5f7438","order":8,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":720,"y":580,"wires":[[]]},{"id":"fc73c3a3.e172e","type":"switch","z":"c1fbfd2b.c61d1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":580,"wires":[["1b4ee4b3.f74e0b"],["6aced71c.7c3848"]]},{"id":"1b4ee4b3.f74e0b","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["beb44836.413b78"]]},{"id":"6aced71c.7c3848","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["beb44836.413b78"]]},{"id":"43900ec.6dde2f","type":"delay","z":"c1fbfd2b.c61d1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":180,"wires":[["a956e333.ba26b"]]},{"id":"6d27ea08.32ed24","type":"rpi-gpio out","z":"c1fbfd2b.c61d1","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":900,"y":280,"wires":[]},{"id":"61fb7c12.694954","type":"inject","z":"c1fbfd2b.c61d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":690,"y":260,"wires":[["6d27ea08.32ed24"]]},{"id":"84234f12.7b9b9","type":"inject","z":"c1fbfd2b.c61d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":690,"y":300,"wires":[["6d27ea08.32ed24"]]},{"id":"dd9ee670.afb088","type":"ui_button","z":"c1fbfd2b.c61d1","name":"","group":"a757053b.5f7438","order":4,"width":3,"height":1,"passthru":false,"label":"2-LED off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":200,"y":260,"wires":[["fa35ff43.41b8f"]]},{"id":"8636c3bf.9055a","type":"ui_button","z":"c1fbfd2b.c61d1","name":"","group":"a757053b.5f7438","order":3,"width":3,"height":1,"passthru":false,"label":"2-LED on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":200,"y":300,"wires":[["fa35ff43.41b8f"]]},{"id":"fa35ff43.41b8f","type":"delay","z":"c1fbfd2b.c61d1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":450,"y":280,"wires":[["6d27ea08.32ed24"]]},{"id":"2afbfcae.c700d4","type":"inject","z":"c1fbfd2b.c61d1","name":"起動時","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":100,"wires":[["3868fdd2.14c3a2"]]},{"id":"3868fdd2.14c3a2","type":"template","z":"c1fbfd2b.c61d1","name":"初期値 off 設定","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":440,"y":120,"wires":[["43900ec.6dde2f","fa35ff43.41b8f"]]},{"id":"a826b175.c34be","type":"rpi-gpio in","z":"c1fbfd2b.c61d1","name":"","pin":"29","intype":"tri","debounce":"25","read":false,"x":190,"y":660,"wires":[["74410749.8ad2c8"]]},{"id":"781857d1.348e98","type":"ui_switch","z":"c1fbfd2b.c61d1","name":"","label":"switch-2","tooltip":"","group":"a757053b.5f7438","order":9,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":720,"y":660,"wires":[[]]},{"id":"74410749.8ad2c8","type":"switch","z":"c1fbfd2b.c61d1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":660,"wires":[["5bca86af.cbd578"],["36731234.ba94ee"]]},{"id":"5bca86af.cbd578","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":640,"wires":[["781857d1.348e98"]]},{"id":"36731234.ba94ee","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[["781857d1.348e98"]]},{"id":"dbcdc76d.0cfc78","type":"ui_slider","z":"c1fbfd2b.c61d1","name":"","label":"点滅回数","tooltip":"","group":"a757053b.5f7438","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"1","max":10,"step":1,"x":200,"y":380,"wires":[["47157d4.9b77684"]]},{"id":"47157d4.9b77684","type":"change","z":"c1fbfd2b.c61d1","name":"set LED_n","rules":[{"t":"set","p":"LED_n","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[[]]},{"id":"b23c1cdb.4f8b5","type":"ui_button","z":"c1fbfd2b.c61d1","name":"","group":"a757053b.5f7438","order":6,"width":0,"height":0,"passthru":false,"label":"1-LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":420,"wires":[["dd0d4953.9d48b8"]]},{"id":"c68c44e1.bc1d78","type":"exec","z":"c1fbfd2b.c61d1","command":"python3 /home/pi/sensorHAT/breathing_led_sensorHAT.py -LED 27 -start 0 -step 5 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":950,"y":420,"wires":[["15bc2d17.c8df23"],["15bc2d17.c8df23"],["15bc2d17.c8df23"]]},{"id":"dd0d4953.9d48b8","type":"template","z":"c1fbfd2b.c61d1","name":"回数をセット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-stop {{flow.LED_n}}","output":"str","x":470,"y":420,"wires":[["c68c44e1.bc1d78"]]},{"id":"fae2c7c2.ccac38","type":"ui_button","z":"c1fbfd2b.c61d1","name":"","group":"a757053b.5f7438","order":7,"width":0,"height":0,"passthru":false,"label":"2-LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":480,"wires":[["33c610c9.2fc18"]]},{"id":"ad153f16.482f5","type":"exec","z":"c1fbfd2b.c61d1","command":"python3 /home/pi/sensorHAT/breathing_led_sensorHAT.py -LED 17 -start 0 -step 5 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":950,"y":480,"wires":[[],[],[]]},{"id":"33c610c9.2fc18","type":"template","z":"c1fbfd2b.c61d1","name":"回数をセット","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-stop {{flow.LED_n}}","output":"str","x":470,"y":480,"wires":[["ad153f16.482f5"]]},{"id":"15bc2d17.c8df23","type":"debug","z":"c1fbfd2b.c61d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":460,"wires":[]},{"id":"6c23dc95.47c104","type":"rpi-gpio in","z":"c1fbfd2b.c61d1","name":"","pin":"40","intype":"down","debounce":"25","read":true,"x":200,"y":780,"wires":[["25ce9cb9.7cd534"]]},{"id":"25ce9cb9.7cd534","type":"switch","z":"c1fbfd2b.c61d1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":780,"wires":[["5fb5a02d.51d45"],["e0fc8f35.2e208"]]},{"id":"5fb5a02d.51d45","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"明るい","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":760,"wires":[["7bc50211.98b8ec","fe68f81e.9c84c8"]]},{"id":"e0fc8f35.2e208","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"暗い","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":800,"wires":[["7bc50211.98b8ec","fe68f81e.9c84c8"]]},{"id":"93b38a5a.624228","type":"comment","z":"c1fbfd2b.c61d1","name":"cds","info":"","x":170,"y":740,"wires":[]},{"id":"7bc50211.98b8ec","type":"ui_text","z":"c1fbfd2b.c61d1","group":"a757053b.5f7438","order":12,"width":0,"height":0,"name":"","label":"明暗センサー","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":780,"wires":[]},{"id":"43270357.60d76c","type":"comment","z":"c1fbfd2b.c61d1","name":"SW","info":"","x":170,"y":520,"wires":[]},{"id":"b202f516.0fcd68","type":"comment","z":"c1fbfd2b.c61d1","name":"LED","info":"","x":170,"y":60,"wires":[]},{"id":"fe68f81e.9c84c8","type":"debug","z":"c1fbfd2b.c61d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":820,"wires":[]},{"id":"1ffeaaa8.090495","type":"rpi-gpio in","z":"c1fbfd2b.c61d1","name":"","pin":"37","intype":"down","debounce":"25","read":true,"x":200,"y":880,"wires":[["78449d34.2d39e4"]]},{"id":"78449d34.2d39e4","type":"switch","z":"c1fbfd2b.c61d1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":880,"wires":[["1ca33cf7.15ce03"],["ae561f95.b4c22"]]},{"id":"1ca33cf7.15ce03","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"水平","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":860,"wires":[["ebd0ca36.0c0928","1b43f6b.3229909"]]},{"id":"ae561f95.b4c22","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"傾いてる","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":900,"wires":[["ebd0ca36.0c0928","1b43f6b.3229909"]]},{"id":"5f7d41db.b0fa9","type":"comment","z":"c1fbfd2b.c61d1","name":"傾きセンサー","info":"","x":190,"y":840,"wires":[]},{"id":"ebd0ca36.0c0928","type":"ui_text","z":"c1fbfd2b.c61d1","group":"a757053b.5f7438","order":12,"width":0,"height":0,"name":"","label":"傾きセンサー","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":880,"wires":[]},{"id":"1b43f6b.3229909","type":"debug","z":"c1fbfd2b.c61d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":920,"wires":[]},{"id":"9f949eec.40a86","type":"rpi-gpio in","z":"c1fbfd2b.c61d1","name":"","pin":"22","intype":"down","debounce":"25","read":true,"x":200,"y":980,"wires":[["d4ed6095.c62ee"]]},{"id":"d4ed6095.c62ee","type":"switch","z":"c1fbfd2b.c61d1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":980,"wires":[["1eaf1aac.8ed395"],["41067517.47cd9c"]]},{"id":"1eaf1aac.8ed395","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"誰かいる","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":960,"wires":[["f959c637.e61988","c0eb4b34.44cc18"]]},{"id":"41067517.47cd9c","type":"change","z":"c1fbfd2b.c61d1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"誰もいない","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1000,"wires":[["f959c637.e61988","c0eb4b34.44cc18"]]},{"id":"a3b07bf8.8ec688","type":"comment","z":"c1fbfd2b.c61d1","name":"人感センサー","info":"","x":190,"y":940,"wires":[]},{"id":"f959c637.e61988","type":"ui_text","z":"c1fbfd2b.c61d1","group":"a757053b.5f7438","order":12,"width":0,"height":0,"name":"","label":"人感センサー","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":980,"wires":[]},{"id":"c0eb4b34.44cc18","type":"debug","z":"c1fbfd2b.c61d1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":1020,"wires":[]},{"id":"a757053b.5f7438","type":"ui_group","name":"Group 1","tab":"c396bec2.67068","order":2,"disp":true,"width":"6","collapse":false},{"id":"c396bec2.67068","type":"ui_tab","name":"LED+SW","icon":"dashboard","order":4,"disabled":false,"hidden":false}]