フロー測定999.txt
[{"id":"9a034a8c.ba9a58","type":"tab","label":"センサー測定","disabled":false,"info":""},{"id":"7be5caf9.3e99a4","type":"ui_gauge","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":2,"width":0,"height":0,"gtype":"gage","title":"温 度","label":"units","format":"{{value}}度","min":0,"max":"40","colors":["#1135e8","#28b888","#f21818"],"seg1":"20","seg2":"28","x":1430,"y":340,"wires":[]},{"id":"2017e6e5.c254ea","type":"ui_gauge","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":6,"width":0,"height":0,"gtype":"gage","title":"気 圧","label":"units","format":"{{value}}hPa","min":"900","max":"1040","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1430,"y":500,"wires":[]},{"id":"80284fb8.34746","type":"ui_gauge","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":4,"width":0,"height":0,"gtype":"wave","title":"湿 度","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1430,"y":420,"wires":[]},{"id":"600b5381.094a7c","type":"ui_slider","z":"9a034a8c.ba9a58","name":"","label":"　気圧　","tooltip":"","group":"fbd4bf9a.0a02c","order":20,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":"900","max":"1040","step":1,"x":1030,"y":720,"wires":[["3068a971.64f5f6","2017e6e5.c254ea"]]},{"id":"51216d62.b2e144","type":"ui_slider","z":"9a034a8c.ba9a58","name":"","label":"温度設定","tooltip":"","group":"fbd4bf9a.0a02c","order":18,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":"0","max":"40","step":"0.1","x":1040,"y":600,"wires":[["7be5caf9.3e99a4","cb489fe5.0ee4d","dfa51ce9.97381","b4bb2490.e43b48"]]},{"id":"6804f8b2.f5b8a8","type":"ui_slider","z":"9a034a8c.ba9a58","name":"","label":"湿度設定","tooltip":"","group":"fbd4bf9a.0a02c","order":19,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","topicType":"str","min":"0","max":"100","step":1,"x":1040,"y":660,"wires":[["80284fb8.34746","436addc1.0a6b24","f924dbe7.123ce8"]]},{"id":"cb489fe5.0ee4d","type":"ui_chart","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":8,"width":0,"height":0,"label":"気温トレンド","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1450,"y":600,"wires":[[]]},{"id":"436addc1.0a6b24","type":"ui_chart","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":10,"width":0,"height":0,"label":"湿度トレンド","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1450,"y":660,"wires":[[]]},{"id":"3068a971.64f5f6","type":"ui_chart","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":12,"width":0,"height":0,"label":"気圧トレンド","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"900","ymax":"1040","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1450,"y":720,"wires":[[]]},{"id":"ed92933d.34297","type":"ui_toast","z":"9a034a8c.ba9a58","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"グラフをリセットします。","name":"リセットダイアログ","x":600,"y":920,"wires":[["b7be38ec.dd9408"]]},{"id":"7e1a5548.41e93c","type":"inject","z":"9a034a8c.ba9a58","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"　","payloadType":"str","x":410,"y":880,"wires":[["ed92933d.34297"]]},{"id":"d504728d.44f5e","type":"ui_chart","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":14,"width":0,"height":0,"label":"温度・湿度","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#4680aa","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#dd3431","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1450,"y":780,"wires":[[]]},{"id":"dfa51ce9.97381","type":"function","z":"9a034a8c.ba9a58","name":"topic 温度","func":"msg.topic = '温度'nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":920,"wires":[["d504728d.44f5e"]]},{"id":"f924dbe7.123ce8","type":"function","z":"9a034a8c.ba9a58","name":"topic 湿度","func":"msg.topic = '湿度'nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":960,"wires":[["d504728d.44f5e"]]},{"id":"85bf8d46.f6f2d","type":"random","z":"9a034a8c.ba9a58","name":"","low":"900","high":"1040","inte":"true","property":"payload","x":420,"y":820,"wires":[["5fec1292.1d42ec"]]},{"id":"92ed03dd.59e92","type":"inject","z":"9a034a8c.ba9a58","name":"2秒周期","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":740,"wires":[["9f318775.82c918"]]},{"id":"5fec1292.1d42ec","type":"smooth","z":"9a034a8c.ba9a58","name":"","property":"payload","action":"mean","count":"8","round":"","mult":"single","reduce":false,"x":580,"y":820,"wires":[["ace36748.f10868"]]},{"id":"18f63fac.d59aa","type":"random","z":"9a034a8c.ba9a58","name":"","low":"0","high":"100","inte":"true","property":"payload","x":420,"y":780,"wires":[["2bc8fada.7a1fd6"]]},{"id":"2bc8fada.7a1fd6","type":"smooth","z":"9a034a8c.ba9a58","name":"","property":"payload","action":"mean","count":"15","round":"","mult":"single","reduce":false,"x":580,"y":780,"wires":[["6d179658.72efa8"]]},{"id":"1b300651.02855a","type":"random","z":"9a034a8c.ba9a58","name":"","low":"0","high":"40","inte":"true","property":"payload","x":420,"y":740,"wires":[["235db628.2747ea"]]},{"id":"235db628.2747ea","type":"smooth","z":"9a034a8c.ba9a58","name":"","property":"payload","action":"mean","count":"5","round":"","mult":"single","reduce":false,"x":580,"y":740,"wires":[["65ba00bc.499fe"]]},{"id":"65ba00bc.499fe","type":"calculator","z":"9a034a8c.ba9a58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","round":true,"decimals":"1","x":740,"y":740,"wires":[["51216d62.b2e144"]]},{"id":"6d179658.72efa8","type":"calculator","z":"9a034a8c.ba9a58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"trunc","constant":"","round":false,"decimals":0,"x":750,"y":780,"wires":[["6804f8b2.f5b8a8"]]},{"id":"ace36748.f10868","type":"calculator","z":"9a034a8c.ba9a58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"trunc","constant":"","round":false,"decimals":0,"x":750,"y":820,"wires":[["600b5381.094a7c"]]},{"id":"b7be38ec.dd9408","type":"change","z":"9a034a8c.ba9a58","name":"グラフのリセット","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":920,"wires":[["cb489fe5.0ee4d","436addc1.0a6b24","3068a971.64f5f6","d504728d.44f5e"]]},{"id":"a14c023.890f4","type":"inject","z":"9a034a8c.ba9a58","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":930,"y":820,"wires":[["51216d62.b2e144","6804f8b2.f5b8a8","600b5381.094a7c"]]},{"id":"1ac0034f.ba8a9d","type":"inject","z":"9a034a8c.ba9a58","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":930,"y":860,"wires":[["51216d62.b2e144","6804f8b2.f5b8a8","600b5381.094a7c"]]},{"id":"1f61bc20.4b8c74","type":"change","z":"9a034a8c.ba9a58","name":"sensorHAT","rules":[{"t":"set","p":"folder","pt":"flow","to":"sensorHAT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[[]]},{"id":"f454b9e3.f5b408","type":"comment","z":"9a034a8c.ba9a58","name":"user","info":"","x":410,"y":60,"wires":[]},{"id":"807482d7.03709","type":"change","z":"9a034a8c.ba9a58","name":"pi","rules":[{"t":"set","p":"user","pt":"flow","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["1f61bc20.4b8c74"]]},{"id":"10566eb.49ca691","type":"comment","z":"9a034a8c.ba9a58","name":"folder","info":"","x":570,"y":60,"wires":[]},{"id":"97f67c2d.77bad","type":"inject","z":"9a034a8c.ba9a58","name":"起動時にファイルpathわ設定","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["807482d7.03709"]]},{"id":"589b879d.791078","type":"file in","z":"9a034a8c.ba9a58","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":530,"y":340,"wires":[["a5a7f699.b93d38","173f4f36.9f8bd1"]]},{"id":"cfaf6601.b644b8","type":"template","z":"9a034a8c.ba9a58","name":"temp_data_last.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/temp_data_last.txt","output":"str","x":290,"y":360,"wires":[["589b879d.791078"]]},{"id":"7bb3a7d9.926828","type":"file in","z":"9a034a8c.ba9a58","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":530,"y":400,"wires":[["22ec2cd0.110be4","4d676488.86a99c"]]},{"id":"d66eaac5.0df368","type":"template","z":"9a034a8c.ba9a58","name":"humdy_data_last.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/humdy_data_last.txt","output":"str","x":300,"y":400,"wires":[["7bb3a7d9.926828"]]},{"id":"49ee03c9.1cc20c","type":"file in","z":"9a034a8c.ba9a58","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":530,"y":460,"wires":[["1dd53c6.85b37c4","9a6062ec.16447"]]},{"id":"9c3e3807.e17f78","type":"template","z":"9a034a8c.ba9a58","name":"press_data_last.txt","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/{{flow.user}}/{{flow.folder}}/press_data_last.txt","output":"str","x":290,"y":440,"wires":[["49ee03c9.1cc20c"]]},{"id":"b99f50d8.e4646","type":"ui_button","z":"9a034a8c.ba9a58","name":"","group":"fbd4bf9a.0a02c","order":17,"width":0,"height":0,"passthru":false,"label":"グラフのリセット","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":920,"wires":[["28439ac6.b5d746"]]},{"id":"9f318775.82c918","type":"ui_switch","z":"9a034a8c.ba9a58","name":"","label":"ダミーデータを使用","tooltip":"","group":"fbd4bf9a.0a02c","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":780,"wires":[["db17bffb.97de8"]]},{"id":"db17bffb.97de8","type":"switch","z":"9a034a8c.ba9a58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":820,"wires":[["1b300651.02855a","18f63fac.d59aa","85bf8d46.f6f2d"],[]]},{"id":"a417c1c0.bf9f1","type":"comment","z":"9a034a8c.ba9a58","name":"周期的にファイルからデータを読み込む","info":"","x":320,"y":300,"wires":[]},{"id":"ca5efd6a.f31af","type":"comment","z":"9a034a8c.ba9a58","name":"ダミーデータを使い表示を確認する","info":"","x":460,"y":700,"wires":[]},{"id":"36a9dcb2.8b0434","type":"comment","z":"9a034a8c.ba9a58","name":"複数要素のグラフを描画","info":"","x":1410,"y":880,"wires":[]},{"id":"b4bb2490.e43b48","type":"mqtt out","z":"9a034a8c.ba9a58","name":"","topic":"testmqtt/sensor/temp999","qos":"0","retain":"","broker":"724182e9.49bcdc","x":1490,"y":380,"wires":[]},{"id":"a5a7f699.b93d38","type":"calculator","z":"9a034a8c.ba9a58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"10","round":true,"decimals":"1","x":950,"y":340,"wires":[["7be5caf9.3e99a4","cb489fe5.0ee4d","dfa51ce9.97381","b4bb2490.e43b48"]]},{"id":"28439ac6.b5d746","type":"template","z":"9a034a8c.ba9a58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"　","output":"str","x":380,"y":920,"wires":[["ed92933d.34297"]]},{"id":"173f4f36.9f8bd1","type":"delay","z":"9a034a8c.ba9a58","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":560,"wires":[["c70379c8.9d2b28"]]},{"id":"e03b59be.aeec88","type":"file","z":"9a034a8c.ba9a58","name":"","filename":"/home/pi/sensorHAT/temp_data_last.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":560,"wires":[[]]},{"id":"e6677c22.dfbaa","type":"file","z":"9a034a8c.ba9a58","name":"","filename":"/home/pi/sensorHAT/humdy_data_last.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":760,"y":600,"wires":[[]]},{"id":"8aa7291a.6b77f8","type":"file","z":"9a034a8c.ba9a58","name":"","filename":"/home/pi/sensorHAT/press_data_last.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":780,"y":640,"wires":[[]]},{"id":"1dd53c6.85b37c4","type":"delay","z":"9a034a8c.ba9a58","name":"","pauseType":"delay","timeout":"0.7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":640,"wires":[["ea6fde72.3dcbe"]]},{"id":"22ec2cd0.110be4","type":"delay","z":"9a034a8c.ba9a58","name":"","pauseType":"delay","timeout":"0.6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":600,"wires":[["1478d3e4.1b6f6c"]]},{"id":"c70379c8.9d2b28","type":"template","z":"9a034a8c.ba9a58","name":"0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":490,"y":560,"wires":[["e03b59be.aeec88"]]},{"id":"1478d3e4.1b6f6c","type":"template","z":"9a034a8c.ba9a58","name":"0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":510,"y":600,"wires":[["e6677c22.dfbaa"]]},{"id":"ea6fde72.3dcbe","type":"template","z":"9a034a8c.ba9a58","name":"0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":530,"y":640,"wires":[["8aa7291a.6b77f8"]]},{"id":"ac5248a4.de21b8","type":"comment","z":"9a034a8c.ba9a58","name":"データ欠損時にデータを0にする","info":"","x":390,"y":520,"wires":[]},{"id":"a2df23ca.224d3","type":"inject","z":"9a034a8c.ba9a58","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1210,"y":280,"wires":[["7be5caf9.3e99a4","80284fb8.34746","2017e6e5.c254ea"]]},{"id":"4d676488.86a99c","type":"calculator","z":"9a034a8c.ba9a58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"1","round":true,"decimals":"1","x":950,"y":400,"wires":[["80284fb8.34746","436addc1.0a6b24","f924dbe7.123ce8"]]},{"id":"9a6062ec.16447","type":"calculator","z":"9a034a8c.ba9a58","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"1","round":true,"decimals":"1","x":950,"y":460,"wires":[["2017e6e5.c254ea","3068a971.64f5f6"]]},{"id":"436d0929.915cb8","type":"watch","z":"9a034a8c.ba9a58","name":"","files":"/home/pi/sensorHAT/press_data_last.txt","recursive":"","x":220,"y":240,"wires":[["919e82.9a52c18","8be7698c.95fb88"]]},{"id":"331c5b5.7653fa4","type":"watch","z":"9a034a8c.ba9a58","name":"","files":"/home/pi/sensorHAT/temp_data_last.txt","recursive":"","x":210,"y":200,"wires":[["919e82.9a52c18","8be7698c.95fb88"]]},{"id":"919e82.9a52c18","type":"delay","z":"9a034a8c.ba9a58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"50","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":220,"wires":[["4d66209e.3f8ed"]]},{"id":"4d66209e.3f8ed","type":"delay","z":"9a034a8c.ba9a58","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":220,"wires":[["cfaf6601.b644b8","d66eaac5.0df368","9c3e3807.e17f78","ea0e9ffc.43cb3"]]},{"id":"8be7698c.95fb88","type":"debug","z":"9a034a8c.ba9a58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":260,"wires":[]},{"id":"9fff10b3.5c767","type":"comment","z":"9a034a8c.ba9a58","name":"データファイルに変化があれば、それをキックにフローを流す","info":"","x":290,"y":160,"wires":[]},{"id":"ea0e9ffc.43cb3","type":"trigger","z":"9a034a8c.ba9a58","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":910,"y":220,"wires":[["c96b5379.6c629","cfaf6601.b644b8","d66eaac5.0df368","9c3e3807.e17f78"]]},{"id":"c96b5379.6c629","type":"debug","z":"9a034a8c.ba9a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":220,"wires":[]},{"id":"fbd4bf9a.0a02c","type":"ui_group","name":"センサー表示","tab":"f079db6e.3eb6a8","order":1,"disp":true,"width":6,"collapse":false},{"id":"724182e9.49bcdc","type":"mqtt-broker","name":"Free Public MQTT 5 Broker Server","broker":"broker.emqx.io","port":"1883","tls":"2e3bc5cf.2d783a","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f079db6e.3eb6a8","type":"ui_tab","name":"センサー測定","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2e3bc5cf.2d783a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]