フロー簡易リモコン03.txt
[{"id":"3656ea08.e66c36","type":"tab","label":"簡易リモコン","disabled":false,"info":""},{"id":"d84bb85d.3feff8","type":"exec","z":"3656ea08.e66c36","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"60","oldrc":false,"name":"赤外線信号送出","x":1000,"y":420,"wires":[["55302481.cb009c"],["e80842f8.538cb"],["2b7a2b97.e520a4"]]},{"id":"4846f54d.6f594c","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["9d1906e3.f3b5d8"]]},{"id":"1f88571f.eb1bd9","type":"template","z":"3656ea08.e66c36","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp.py -p -g22 -f /home/{{user}}/{{folder}}/{{payload}}","output":"str","x":780,"y":420,"wires":[["d84bb85d.3feff8","1f652c6a.515444","9a2d32e4.e6065"]]},{"id":"81486dad.8c7fc","type":"change","z":"3656ea08.e66c36","name":"sensorHAT","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"sensorHAT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["ccc08f55.52391","dff3fc98.83c75"]]},{"id":"a9878c03.c655f","type":"comment","z":"3656ea08.e66c36","name":"folder","info":"","x":650,"y":120,"wires":[]},{"id":"960c1999.e0f098","type":"comment","z":"3656ea08.e66c36","name":"user","info":"","x":530,"y":120,"wires":[]},{"id":"9e72c744.5427a8","type":"change","z":"3656ea08.e66c36","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":160,"wires":[["81486dad.8c7fc"]]},{"id":"9d1906e3.f3b5d8","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":1,"width":3,"height":3,"passthru":true,"label":"信号学習","tooltip":"","color":"","bgcolor":"","icon":"","payload":"remocon on","payloadType":"str","topic":"","topicType":"str","x":180,"y":160,"wires":[["fb80f47b.4d5458"]]},{"id":"173bde71.a6d7f2","type":"ui_button","z":"3656ea08.e66c36","name":"","group":"d0ddd7c4.f67588","order":2,"width":3,"height":3,"passthru":true,"label":"信号送出","tooltip":"","color":"","bgcolor":"","icon":"","payload":"remocon on","payloadType":"str","topic":"","topicType":"str","x":180,"y":260,"wires":[["6f7ccb05.211a64"]]},{"id":"5f010737.6a8f88","type":"exec","z":"3656ea08.e66c36","command":"","addpay":true,"append":" ","useSpawn":"false","timer":"20","oldrc":false,"name":"赤外線信号受信","x":1000,"y":480,"wires":[["55302481.cb009c","92119571.de9ac8"],["e80842f8.538cb"],["2b7a2b97.e520a4","92119571.de9ac8","792aecd0.cf90b4"]]},{"id":"55302481.cb009c","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":400,"wires":[]},{"id":"4c9c1c8e.0dd844","type":"rpi-gpio out","z":"3656ea08.e66c36","name":"表示LED#5","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1230,"y":600,"wires":[]},{"id":"b58b2758.989bf8","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":600,"wires":[["1d3fd86.4216b28"]]},{"id":"9cef96cc.54b3d8","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1030,"y":640,"wires":[["4c9c1c8e.0dd844"]]},{"id":"8fa5444.34e82b8","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1030,"y":680,"wires":[["4c9c1c8e.0dd844"]]},{"id":"e80842f8.538cb","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1271,"y":448,"wires":[]},{"id":"2b7a2b97.e520a4","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1271,"y":495,"wires":[]},{"id":"1d3fd86.4216b28","type":"change","z":"3656ea08.e66c36","name":"LED点灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":600,"wires":[["4c9c1c8e.0dd844"]]},{"id":"92119571.de9ac8","type":"change","z":"3656ea08.e66c36","name":"LED消灯","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":560,"wires":[["4c9c1c8e.0dd844","792aecd0.cf90b4"]]},{"id":"dff3fc98.83c75","type":"template","z":"3656ea08.e66c36","name":"python3 ... irrp.py ...","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python3 /home/{{user}}/{{folder}}/irrp.py -r -g4 -f /home/{{user}}/{{folder}}/{{payload}} --no-confirm --post 130","output":"str","x":780,"y":480,"wires":[["5f010737.6a8f88","b58b2758.989bf8"]]},{"id":"e6b95e9.4f5d7a","type":"ui_template","z":"3656ea08.e66c36","group":"d0ddd7c4.f67588","name":"押されたボタンを表示","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1200,"y":200,"wires":[[]]},{"id":"1f652c6a.515444","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":300,"wires":[["792aecd0.cf90b4"]]},{"id":"792aecd0.cf90b4","type":"template","z":"3656ea08.e66c36","name":"表示を消去","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":1170,"y":300,"wires":[["e6b95e9.4f5d7a"]]},{"id":"ccc08f55.52391","type":"template","z":"3656ea08.e66c36","name":"押されたボタン","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"コマンド :  {{payload}} ","output":"str","x":920,"y":200,"wires":[["e6b95e9.4f5d7a"]]},{"id":"c665974.0c5a068","type":"inject","z":"3656ea08.e66c36","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":320,"wires":[["173bde71.a6d7f2"]]},{"id":"fb80f47b.4d5458","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":160,"wires":[["9e72c744.5427a8"]]},{"id":"8dbb93f3.617c1","type":"change","z":"3656ea08.e66c36","name":"sensorHAT","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"folder","pt":"msg","to":"sensorHAT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["1f88571f.eb1bd9","ccc08f55.52391"]]},{"id":"71b8d08c.6f343","type":"comment","z":"3656ea08.e66c36","name":"folder","info":"","x":650,"y":220,"wires":[]},{"id":"7281d31d.935b1c","type":"comment","z":"3656ea08.e66c36","name":"user","info":"","x":530,"y":220,"wires":[]},{"id":"9fb52539.789928","type":"change","z":"3656ea08.e66c36","name":"pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"pi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["8dbb93f3.617c1"]]},{"id":"6f7ccb05.211a64","type":"delay","z":"3656ea08.e66c36","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":260,"wires":[["9fb52539.789928"]]},{"id":"9a2d32e4.e6065","type":"debug","z":"3656ea08.e66c36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":720,"wires":[]},{"id":"d0ddd7c4.f67588","type":"ui_group","name":"Group 1","tab":"82af5ff3.61c89","order":1,"disp":false,"width":"6","collapse":false},{"id":"82af5ff3.61c89","type":"ui_tab","name":"簡易リモコン","icon":"dashboard","order":3,"disabled":false,"hidden":false}]