フロー距離測定02.txt
[{"id":"b0a69d1b.38d5e","type":"tab","label":"距離測定","disabled":false,"info":""},{"id":"2e82c2de.0e9b7e","type":"ui_button","z":"b0a69d1b.38d5e","name":"","group":"27b1033b.cf626c","order":1,"width":0,"height":0,"passthru":false,"label":"測定開始","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":120,"wires":[["11f52cb9.403273"]]},{"id":"563a3ec8.79f1f","type":"ui_text","z":"b0a69d1b.38d5e","group":"27b1033b.cf626c","order":2,"width":0,"height":0,"name":"","label":"測定結果:","format":"{{msg.payload}} cm","layout":"row-spread","x":920,"y":340,"wires":[]},{"id":"f18233c5.a51dc","type":"exec","z":"b0a69d1b.38d5e","command":"python3 /home/pi/sensorHAT/SR04_dataSave.py ","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":590,"y":200,"wires":[["5bdef9f9.716f38","563a3ec8.79f1f","25b3a4e.27fa35c","289948b1.8118c8"],["353b2e23.0b8642"],["783269a5.65bad8"]]},{"id":"5bdef9f9.716f38","type":"debug","z":"b0a69d1b.38d5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"783269a5.65bad8","type":"debug","z":"b0a69d1b.38d5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"35ee702c.cff4c","type":"template","z":"b0a69d1b.38d5e","name":"測定中","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"測定中","output":"str","x":490,"y":340,"wires":[["563a3ec8.79f1f"]]},{"id":"11f52cb9.403273","type":"delay","z":"b0a69d1b.38d5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":200,"wires":[["f18233c5.a51dc","35ee702c.cff4c","adc1d2a3.22ea2"]]},{"id":"353b2e23.0b8642","type":"debug","z":"b0a69d1b.38d5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":180,"wires":[]},{"id":"25b3a4e.27fa35c","type":"switch","z":"b0a69d1b.38d5e","name":"emptyだったら","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":260,"wires":[["1b641337.a3143d"],[]]},{"id":"8260556a.7e5508","type":"inject","z":"b0a69d1b.38d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":260,"wires":[["11f52cb9.403273"]]},{"id":"1b641337.a3143d","type":"template","z":"b0a69d1b.38d5e","name":"タイムアウト","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"タイムアウト","output":"str","x":650,"y":300,"wires":[["563a3ec8.79f1f","289948b1.8118c8"]]},{"id":"86ba183f.f56ba8","type":"rpi-gpio out","z":"b0a69d1b.38d5e","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":1140,"y":480,"wires":[]},{"id":"718b59d9.38acd8","type":"inject","z":"b0a69d1b.38d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":930,"y":440,"wires":[["86ba183f.f56ba8"]]},{"id":"426d476b.768cc8","type":"inject","z":"b0a69d1b.38d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":930,"y":520,"wires":[["86ba183f.f56ba8"]]},{"id":"57f55ac8.cec5d4","type":"rpi-gpio out","z":"b0a69d1b.38d5e","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":1140,"y":620,"wires":[]},{"id":"21a58269.59849e","type":"inject","z":"b0a69d1b.38d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":930,"y":580,"wires":[["57f55ac8.cec5d4"]]},{"id":"dd0c7b56.dc2528","type":"inject","z":"b0a69d1b.38d5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":930,"y":660,"wires":[["57f55ac8.cec5d4"]]},{"id":"adc1d2a3.22ea2","type":"template","z":"b0a69d1b.38d5e","name":"1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":670,"y":460,"wires":[["86ba183f.f56ba8"]]},{"id":"289948b1.8118c8","type":"template","z":"b0a69d1b.38d5e","name":"0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":670,"y":500,"wires":[["86ba183f.f56ba8","c8094297.42bcb"]]},{"id":"a95c9058.5f354","type":"inject","z":"b0a69d1b.38d5e","name":"起動時","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":430,"y":540,"wires":[["289948b1.8118c8","e2373255.bef41"]]},{"id":"61bb53c1.9bdc6c","type":"template","z":"b0a69d1b.38d5e","name":"1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":670,"y":600,"wires":[["57f55ac8.cec5d4"]]},{"id":"e2373255.bef41","type":"template","z":"b0a69d1b.38d5e","name":"0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":670,"y":640,"wires":[["57f55ac8.cec5d4"]]},{"id":"c8094297.42bcb","type":"delay","z":"b0a69d1b.38d5e","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":600,"wires":[["61bb53c1.9bdc6c","aafb0101.dfced"]]},{"id":"aafb0101.dfced","type":"delay","z":"b0a69d1b.38d5e","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":640,"wires":[["e2373255.bef41"]]},{"id":"b9f1e5b6.4d3cf8","type":"exec","z":"b0a69d1b.38d5e","command":"sudo shutdown now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1060,"y":780,"wires":[[],[],[]]},{"id":"9843a516.fa4c68","type":"ui_button","z":"b0a69d1b.38d5e","name":"","group":"27b1033b.cf626c","order":6,"width":0,"height":0,"passthru":false,"label":"シャットダウン","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":270,"y":780,"wires":[["16286c70.1e4ff4"]]},{"id":"16286c70.1e4ff4","type":"ui_toast","z":"b0a69d1b.38d5e","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"topic":"シャットダウンします？","name":"","x":490,"y":780,"wires":[["a2a76a1.9cfa498"]]},{"id":"4c51a585.2805ec","type":"debug","z":"b0a69d1b.38d5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":880,"wires":[]},{"id":"a2a76a1.9cfa498","type":"switch","z":"b0a69d1b.38d5e","name":"OKなら実行","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":780,"wires":[["4c51a585.2805ec","b9f1e5b6.4d3cf8"]]},{"id":"27b1033b.cf626c","type":"ui_group","name":"距離測定","tab":"4626b6cb.992308","order":1,"disp":true,"width":"6","collapse":false},{"id":"4626b6cb.992308","type":"ui_tab","name":"SR04","icon":"dashboard","order":3,"disabled":false,"hidden":false}]